<connectionStrings>

  <add name="cabalDB" connectionString="Data Source=localhost;Initial Catalog=Server01;Persist Security Info=True;User ID=sa;Password=Cabal92000;Max Pool Size=1000" providerName="System.Data.SqlClient" />
  <add name="cabalAcc" connectionString="Data Source=localhost;Initial Catalog=Account;Persist Security Info=True;User ID=sa;Password=Cabal92000;Max Pool Size=1000" providerName="System.Data.SqlClient" />
  <add name="cabalCash" connectionString="Data Source=localhost;Initial Catalog=CabalCash;Persist Security Info=True;User ID=sa;Password=Cabal92000;Max Pool Size=1000" providerName="System.Data.SqlClient" />

</connectionStrings>